<div class="panel panel-success blog-date-card">
    <div class="panel-heading text-center">
        <span class="h3">{{ page.date | date: '%B' }}</span>
    </div>
    <div class="panel-body text-center">
        <div class="h1">{{ page.date | date: '%d' }}</div>
        <div>{{ page.date | date: '%Y' }}</div>
    </div>
</div>

<div class="blog-date-card-social">
    <a class="btn btn-default btn-block" href="https://bsky.app/intent/compose?text={{ page.url | absolute_url | uri_escape }}%0A{{ page.title | uri_escape }}">
        <i class="fa-brands fa-bluesky"></i> Share
    </a>
</div>

<div class="blog-date-card-social">
    <a class="btn btn-default btn-block" href="https://twitter.com/share?url={{ page.url | absolute_url | uri_escape }}&via={{ site.twitter_username }}&text={{ page.title | uri_escape }}">
        <i class="fa-brands fa-twitter"></i> Tweet
    </a>
</div>
