<head>
    <meta charset="utf-8"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="google-site-verification" content="Pbpi_BW55shRDvqTklU4kcgoXpBN9DGaBIAMC1YBnic" />

    <meta content="{{ site.title }}" property="og:site_name"/>

    <meta content="{{ page.description }}" property="og:description"/>

    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.short_description }}{% endif %}"/>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="publisher" href="https://plus.google.com/+gunthercox"/>

	<link rel="stylesheet" href="/css/main.css"/>
	<link rel="stylesheet" href="/assets/css/font-awesome.css"/>
    {% for css_name in page.extra_css %}
        <link rel="stylesheet" href="{{ css_name }}">
    {% endfor %}

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}"/>
    <link rel="shortlink" href="{{ site.url }}{{ page.url | replace:'index.html',''}}"/>
</head>
