<head>
    <meta charset="utf-8"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {% for meta_tag in site.meta_tags %}
        {{ meta_tag }}
    {% endfor %}

    <meta content="{{ site.title }}" property="og:site_name"/>
    <meta content="{{ site.url }}" property="og:referenced"/>

    <meta content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.short_description }}{% endif %}"/>
    <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.short_description }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.short_description }}{% endif %}"/>

    {% if page.title %}
        <meta content="{{ page.title }}" property="og:title"/>
        <title>{{ page.title }}</title>
    {% else %}
        <meta content="{{ site.title }}" property="og:title"/>
        <title>{{ site.title }}</title>
    {% endif %}

    {% if site.github_username %}
    <link rel="publisher" href="https://github.com/{{ site.github_username }}"/>
    {% else if site.twitter_username %}
    <link rel="publisher" href="https://twitter.com/{{ site.twitter_username }}"/>
    {% endif %}

	<link rel="stylesheet" href="/assets/css/main.css"/>
	<link rel="stylesheet" href="/assets/css/font-awesome.css"/>
    {% for css_name in page.extra_css %}
        <link rel="stylesheet" href="{{ css_name }}">
    {% endfor %}

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}"/>
    <link rel="shortlink" href="{{ site.url }}{{ page.url | replace:'index.html',''}}"/>
</head>
