<ul class="nav navbar-nav navbar-right">
    <li>
        <a href='https://github.com/{{ site.github_username }}' aria-label="GitHub" target='_blank' class="btn btn-lg btn-link text-white">
            <i class="fa fa-github" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/{{ site.twitter_username }}" aria-label="Twitter" target='_blank' class="btn btn-lg btn-link text-white">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
    </li>
</ul>
