<div class="navbar navbar-inverse navbar-fixed-top" id="nav"  role="navigation">
   <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.title }}</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Home
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href='https://github.com/{{ site.github_username }}' aria-label="GitHub" target='_blank' class="btn btn-lg btn-link text-white">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/{{ site.twitter_username }}" aria-label="Twitter" target='_blank' class="btn btn-lg btn-link text-white">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div> 
</div>

<div class="margin-top">
    <!-- Space under the fixed navbar -->
</div>
