.color-forest.white-outline a:hover,
.color-forest.white-outline.btn:hover {
    background: #297E56;
}

.color-darkorange.white-outline a:hover,
.color-darkorange.white-outline.btn:hover {
    background: #9B200C;
}

.color-putty.white-outline a:hover,
.color-putty.white-outline.btn:hover {
    background: #4F4848;
}

.color-prestige.white-outline a:hover,
.color-prestige.white-outline.btn:hover {
    background: #421222;
}

.color-white {
    background: white;
    color: black;
}

.color-soil {
    background: #5C421A;
    color: white;
}

.color-darkgray {
    background: #231f20;
    color: white;
}

.color-prestige {
    background: #5C1A30;
    color: white;
}

.color-putty {
    background: #393333;
    color: white;
}

.color-softgreen {
    background: #78A55A;
}

.color-forest {
    background: #1A5C3D;
    color: white;
}

.color-orange {
    background: #ea671f;
    color: white;
}

.color-orange.white-outline a:hover,
.color-orange.white-outline.btn:hover {
    background: #FF803B;
}

.color-darkorange {
    background: #C02911;
    color: white;
}

.color-rust {
    background: #87210A;
    color: white;
}

.color-navy {
    background: #232937;
    color: white;
}
